<div class="p-4 bg-gray-100 rounded-lg shadow-md mb-4">
  <span class="block text-sm font-semibold mb-1">Comment</span>
  <span class="text-gray-600 mb-1"><%= name ?? "Anonymous" %></span>
  <span class="block text-sm"><%= comment %></span>
</div>
