<main>
  <h1>Reader home page</h1>
  <% for (let author of authors) { %>
  <div>
    <span> <%= author.name %> </span>
    <span> Title: <%= author.title %> </span>
    <span> Subtitle: <%= author.subtitle %> </span>
  </div>
  <div>
    <span>Published Articles</span>
    <div>
      <% for (let article of articles.filter((article) => article.authorId ===
      author.id)) { %> <%- include("../partials/article.ejs", article) %> <% }
      %>
    </div>
  </div>
  <% } %>
</main>
